/* h1{
    color: brown;
}
p{
    color: rgb(36, 248, 255);
}
button{
    color: maroon;
    background-color: cyan;
}
body{
    background-color: rgb(42, 23, 23);
}
*{
    color:black;
 } */

#sumit{
    color: rgb(73, 85, 106);
    font-weight:  normal;
}
#Mayank{
    color: blue;
    font-weight: bold;
}
.chiku{
    color: darkorchid;
    font-weight:lighter;
}

 button{
    color: rgb(147, 56, 56);
 }
 #box{
    background-color:rgb(239, 151, 37);
 }
 .heading{
    color: darkred;
 }
 #one{
    color: rgb(105, 67, 105);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
 }
 h4{
    color: rgb(186, 42, 42);
    text-align: center;
     text-decoration:  rgb(4, 4, 89) underline;
    /* text-decoration:  line-through;  */
 }
 a{
    text-decoration: none;
 }
 #two{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
 }
/* 96px= 1inch=2.54cm */
/* font-size=2px */
#three{
    font-size: 25px;
    line-height: 50px;
    /* text-transform:uppercase; */
    text-transform: capitalize;
}

#four{
    font-size: 10px;
    line-height: 80px;
    color:rgb(33, 139, 139)

}