.Form_table TD {
/*background-image:url(../Images/Table_bg.jpg);*/
font-family:Verdana;
text-align:left;
font-size:8pt;
margin:0;
padding-bottom:5px;
padding-top:5px;
padding-left:0px;
padding-right:0px;    
}

.Form_table1 TD {
background-image:url(../Images/Table_bg.jpg);
font-family:Verdana;
text-align:Center;
font-size:9pt;
margin:0;
}

.TDH {
background-image:url(../Images/bg-menu-main.png);
font-family:Verdana;
font-size:10pt;
font-weight:700;
color:#FFF;
}

.TDH1 {
background-image:url(../Images/Nav_Bars_top.png);
font-family:Verdana;
font-size:10pt;
font-weight:700;
color:#FFF;
}

.gridview1 td {
background:#FDF7F1;
border-bottom:solid 1px #C5DBF7;
color:Black;
text-align:left;
font-family:Verdana;
font-size:11px;
padding:3px 2px;
}

.gridview1 td a {
color:#3e3e3e;
font:bold small "Verdana";
text-decoration:none;
padding:2px;
}

.gridview1 td a:hover {
color:#000;
font-weight:700;
}

.gridview1 th {
background:#FBE6D4;
color:#870D00;
font-family: Tahoma;
font-size: 11px;
font-weight: bold;
letter-spacing:0;
text-align:Left;
padding:4px;
}

.gridview1 th a {
color:#870D00;
font:bold small "Segoe UI",Segoe,sans-serif;
}



TblClass {
border:[None][0];
background-color:Green;
font-family:Verdana;
richness:50;
padding:2px;
}

TblClass th {
background-color:#000;
color:#FFF;
font-size:12pt;
padding:5px;
}

TblClass td {
border-bottom-color:Red;
color:#FFF;
font-size:10pt;
}

ENFTD {
font-family:Verdana;
font-size:14pt;
font-weight:700;
color:#06c;
}

.TextIndicator_TextBox1 {
background-color:Gray;
color:#FFF;
font-family:Arial;
font-size:x-small;
font-style:italic;
padding:2px 3px;
}

.BarIndicator_TextBox2_weak {
color:Red;
background-color:Red;
}

.BarIndicator_TextBox2_average {
color:Blue;
background-color:Blue;
}

.BarIndicator_TextBox2_good {
color:Green;
background-color:Green;
}

.BarBorder_TextBox2 {
width:200px;
vertical-align:middle;
border-style:solid;
border-width:1px;
padding:2px;
}

.TextIndicator_TextBox3 {
background-color:Blue;
color:#FF0;
font-size:small;
font-variant:small-caps;
padding:2px 3px;
}

.TextIndicator_TextBox3_Handle {
width:16px;
height:14px;
background-image:url(images/Question.png);
overflow:hidden;
cursor:help;
}

.TextIndicator_TextBox1_Strength1 {
background-color:Gray;
color:#FFF;
font-family:Arial;
font-size:x-small;
font-style:italic;
font-weight:700;
padding:2px 3px;
}

.TextIndicator_TextBox1_Strength2 {
background-color:Gray;
color:#FF0;
font-family:Arial;
font-size:x-small;
font-style:italic;
font-weight:700;
padding:2px 3px;
}

.TextIndicator_TextBox1_Strength3 {
background-color:Gray;
color:#FFCAAF;
font-family:Arial;
font-size:x-small;
font-style:italic;
font-weight:700;
padding:2px 3px;
}

.TextIndicator_TextBox1_Strength4 {
background-color:Gray;
color:Aqua;
font-family:Arial;
font-size:x-small;
font-style:italic;
font-weight:700;
padding:2px 3px;
}

.TextIndicator_TextBox1_Strength5 {
background-color:Gray;
color:#93FF9E;
font-family:Arial;
font-size:x-small;
font-style:italic;
font-weight:700;
padding:2px 3px;
}

.watermarked {
height:20px;
width:150px;
border:1px solid #BEBEBE;
background-color:#F0F8FF;
color:gray;
padding:2px 0 0 2px;
}

.LabelHeading1 {
border-right:#fff thick solid;
border-top:#fff thick solid;
font-weight:700;
font-size:12pt;
border-left:#fff thick solid;
color:#FFF;
border-bottom:#fff thick solid;
font-family:Verdana;
background-color:#cd5c5c;
text-align:center;
padding:2px;
}

.LabelHeading2 {
font-family:Verdana;
font-size:12pt;
font-weight:700;
background-image:url(../Images/Table_bg.jpg);
color:#000;
}

.PageHeading {
font-family:Verdana;
font-size:16pt;
font-weight:700;
background-image:url(../Images/Table_bg.jpg);
color:#630;
padding-bottom:2px;
border-bottom:#999 thick solid;
}

.PageSH {
font-family:Verdana;
font-size:10pt;
font-weight:700;
background-image:url(../Images/Table_bg.jpg);
color:#630;
}

.Form_table,.Form_table1 {
border-right:2px;
border-top:0;
border-left:2px;
padding-left:5px;
font-size:12px;
color:#000;
border-bottom:0;
font-family:Verdana;
margin-top:0;
border-color:ButtonFace;
}

.Form_table TH,.Form_table1 TH {
border-right:1px;
border-top:1px;
font-weight:700;
font-size:14px;
border-left:1px;
color:#FFF;
border-bottom:1px;
white-space:nowrap;
/*background-color:#3e3e3e;*/
text-align:left;
font-family:Verdana;
margin:0;
padding:3px 2px 0;
}

.NormalTable
{
	FONT-SIZE: 9pt; 
	PADDING-BOTTOM: 2px; 
	VERTICAL-ALIGN: middle; 
	WIDTH: 100%; 
	COLOR: black; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: 
	Verdana; 
	BACKGROUND-COLOR: white; 
	TEXT-ALIGN: left;
	border-left:2px;
	border-right:2px;
	border-color:Black; 
 
}
.btn {
color:#050;
font:bold 84% 'trebuchet ms',helvetica,sans-serif;
background-color:#fed;
border:1px solid;
filter:progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
border-color:#696 #363 #363 #696;
}

.btn:hover {
border-color:#c63 #930 #930 #c63;
}
#layer1 {
	    visibility: hidden; width:90%;top:200px;position: absolute;left:40%;z-index:10000;height:170px
	     }
#msgCont{
        width:700px;      margin:0px auto;        height:170px        }    
#layer{
    width:700px;background-color: #333;border: 3px double #ccc;padding: 10px;margin:0px auto;	color:#fff; float:left;	height:170px   }
#layer ol li{  line-height:22px;   text-align:justify;  }
#layer h3{ margin:0px 0px;       padding:0px 0px 5px 0px;       color:yellow;       border-bottom:dotted 1px #cdcdcd;       }
    #close a {float: right;color:yellow;}
	#close  a:hover  {   float: right; color:White;	    text-decoration:none;	    }
	
	.Application_table TD {
/*background-image:url(../Images/Table_bg.jpg);*/
font-family:Verdana;
text-align:left;
font-size:8pt;
margin:0;
padding-bottom:3px;
padding-top:3px;
padding-left:0px;
padding-right:0px;    
}
.Application_table {
border-right:2px;
border-top:0;
border-left:2px;
padding-left:5px;
font-size:8pt;
color:#000;
border-bottom:0;
font-family:Verdana;
margin-top:0;
border-color:ButtonFace;
}

/*----------------------------PopUp By Hasim Start----------------------------*/		
.modalBackground_PopUp
{
    background-color: Gray ;
    filter: alpha(opacity=10);
    opacity: 0.7;
}
/*----------------------------PopUp By Hasim End----------------------------*/

.PanelBox {
border:1px solid #DFDFDF;
background-image:url(../Images/TextBoxBottom.gif);
background-repeat:repeat-x;
background-position:left bottom;
font-size:8.5pt;
color:InfoText;
 line-height:20px;
}

/*Calendar Control CSS*/
.cal_Theme1 .ajax__calendar_container   {
background-color: #DEF1F4;
border:solid 1px #77D5F7;
}

.cal_Theme1 .ajax__calendar_header  {
background-color: #ffffff;
margin-bottom: 4px;
}

.cal_Theme1 .ajax__calendar_title,
.cal_Theme1 .ajax__calendar_next,
.cal_Theme1 .ajax__calendar_prev    {
color: #004080;
padding-top: 3px;
}

.cal_Theme1 .ajax__calendar_body    {
background-color: #ffffff;
border: solid 1px #77D5F7;
}

.cal_Theme1 .ajax__calendar_dayname {
text-align:center;
font-weight:bold;
margin-bottom: 4px;
margin-top: 2px;
color: #004080;
}

.cal_Theme1 .ajax__calendar_day {
color: #004080;
text-align:center;
}

.cal_Theme1 .ajax__calendar_hover .ajax__calendar_day,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_month,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_year,
.cal_Theme1 .ajax__calendar_active  {
color: #004080;
font-weight: bold;
background-color: #DEF1F4;
}


.cal_Theme1 .ajax__calendar_today   {
font-weight:bold;
}

.cal_Theme1 .ajax__calendar_other,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_today,
.cal_Theme1 .ajax__calendar_hover .ajax__calendar_title {
color: #bbbbbb;
}